schemas/BES.xsd

<?xml version="1.0"?>
<xs:schema id="BES" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" version="PLATFORM_VERSION">
  <xs:include schemaLocation="BESActionSettings.xsd" />

  <xs:element name="BES">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded">

        <xs:element name="Fixlet" type="FixletWithActions" />
        <xs:element name="Task" type="FixletWithActions" />
        <xs:element name="Analysis" type="Analysis" />
        <xs:element name="SingleAction" type="SingleAction"/>
        <xs:element name="SourcedFixletAction" type="SourcedFixletAction"/>
        <xs:element name="MultipleActionGroup" type="MultipleActionGroup"/>
        <xs:element name="Baseline" type="Baseline"/>
        <xs:element name="ComputerGroup" type="ComputerGroup"/>
        <xs:element name="CustomSite" type="Site"/>
        
        <xs:element name="ExternalSite">
          <xs:complexType>
            <xs:complexContent>
              <xs:extension base="Site">
                <xs:sequence>
                  <xs:element name="Masthead" type="xs:string"/>
                </xs:sequence>
              </xs:extension>
            </xs:complexContent>
          </xs:complexType>
        </xs:element>

        <xs:element name="Property">
          <xs:complexType>
            <xs:complexContent>
              <xs:extension base="Property">
                <xs:attribute name="SkipUI" type="xs:boolean"/>
              </xs:extension>
            </xs:complexContent>
          </xs:complexType>
        </xs:element>

      </xs:choice>
      <xs:attribute name="SkipUI" type="xs:boolean" />
    </xs:complexType>
  </xs:element>

  <xs:complexType name="ComputerGroup">
    <xs:sequence>
      <xs:element name="Title" type="ObjectName" minOccurs="1" />
      <xs:element name="Domain" minOccurs="0" type="Domain" />
      <xs:element name="JoinByIntersection" type="xs:boolean" minOccurs="1" />
      <xs:element name="IsDynamic" type="xs:boolean" minOccurs="0" />
      <!--ignored-->
      <xs:element name="EvaluateOnClient" type="xs:boolean" minOccurs="0" />
      <!--ignored-->
      <xs:group maxOccurs="unbounded" ref="ComputerGroup" />
    </xs:sequence>
    <xs:attribute name="SkipUI" type="xs:boolean"/>
  </xs:complexType>

  <xs:complexType name="Baseline">
    <xs:complexContent>
      <xs:extension base="Fixlet">
        <xs:sequence>
          <xs:element name="BaselineComponentCollection">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="BaselineComponentGroup" minOccurs="0" maxOccurs="unbounded">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="BaselineComponent" minOccurs="0" maxOccurs="unbounded">
                        <xs:complexType>
                          <xs:choice>
                            <xs:sequence>
                              <xs:element name="Relevance" type="RelevanceString" />
                              <xs:element name="Delay" type="NonNegativeTimeInterval" minOccurs="0" />
                              <xs:sequence minOccurs="0">
                                <xs:element name="ActionScript" type="ActionScript" />
                                <xs:element name="SuccessCriteria" type="ActionSuccessCriteria" minOccurs="0" />
                              </xs:sequence>
                            </xs:sequence>
                            <xs:sequence>
                              <xs:element name="ActionScript" type="ActionScript" />
                              <xs:element name="SuccessCriteria" type="ActionSuccessCriteria" minOccurs="0" />
                              <xs:element name="Relevance" type="RelevanceString" />
                              <xs:element name="Delay" type="NonNegativeTimeInterval" minOccurs="0" />
                            </xs:sequence>
                          </xs:choice>
                          <xs:attribute name="Name" type="xs:normalizedString" />
                          <xs:attribute name="ActionName" type="xs:normalizedString" />
                          <xs:attribute name="IncludeInRelevance" type="xs:boolean" />
                          <xs:attribute name="SourceSiteURL" type="xs:anyURI" use="optional" />
                          <xs:attribute name="SourceID" type="xs:nonNegativeInteger" use="optional" />
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                    <xs:attribute name="Name" type="xs:normalizedString" />
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="Settings" type="ActionSettings" minOccurs="0" />
          <xs:element name="SettingsLocks" type="ActionSettingsLocks" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="MultipleActionGroup">
    <xs:sequence>
      <xs:element name="Title" type="ObjectName" minOccurs="0" />
      <xs:element name="Relevance" type="RelevanceString" minOccurs="0" />
      <xs:element name="PreGroupActionScript" type="ActionScript" minOccurs="0" />
      <xs:element name="MemberAction" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="Action">
              <xs:sequence>
                <xs:element name="IncludeInGroupRelevance" type="xs:boolean" minOccurs="0" />
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="PostGroupActionScript" type="ActionScript" minOccurs="0" />
      <xs:element name="Settings" type="ActionSettings" minOccurs="0" />
      <xs:element name="SettingsLocks" type="ActionSettingsLocks" minOccurs="0" />
      <xs:element name="Domain" type="Domain" minOccurs="0" />
      <xs:element name="Target" type="BESActionTarget" minOccurs="0" />
      <xs:element name="SourceFixletID" type="BESSourceSiteAndFixlet" minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="SkipUI" type="xs:boolean"/>
  </xs:complexType>

  <xs:complexType name="SourcedFixletAction">
    <xs:sequence>
      <xs:element name="SourceFixlet" type="BESActionSourceFixlet" />
      <xs:element name="Target" type="BESActionTarget" minOccurs="0" />      
      <xs:element name="Parameter" type="BESActionParameter" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="SecureParameter" type="BESActionParameter" minOccurs="0" maxOccurs="unbounded" />      
      <xs:element name="Settings" type="ActionSettings" minOccurs="0" />
      <xs:element name="IsUrgent" type="xs:boolean" minOccurs="0" />
    </xs:sequence>
      <xs:attribute name="SkipUI" type="xs:boolean"/>
  </xs:complexType>

  <xs:complexType name="SingleAction">
    <xs:complexContent>
      <xs:extension base="Action">
        <xs:sequence>
          <xs:element name="Settings" type="ActionSettings" minOccurs="0" />
          <xs:element name="SettingsLocks" type="ActionSettingsLocks" minOccurs="0" />
          <xs:element name="IsUrgent" type="xs:boolean" minOccurs="0" />
          <xs:element name="Domain" type="Domain" minOccurs="0" />          
          <xs:element name="Target" type="BESActionTarget" minOccurs="0" />
          <xs:element name="SourceFixlet" type="BESSourceSiteAndFixlet" minOccurs="0" />
        </xs:sequence>
        <xs:attribute name="SkipUI" type="xs:boolean"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Analysis">
    <xs:complexContent>
      <xs:extension base="Fixlet">
        <xs:sequence>
          <xs:element name="Property" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
              <xs:simpleContent>
                <xs:extension base="Property">
                  <xs:attribute name="ID" type="xs:nonNegativeInteger" use="required" />
                </xs:extension>
              </xs:simpleContent>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="AutoActivate" type="xs:boolean"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Site">
    <xs:sequence>
      <xs:element name="Name" type="ObjectName" />
      <xs:element name="Description" type="xs:string" minOccurs="0" />
      <xs:element name="Domain" type="Domain" minOccurs="0" />
      <xs:element name="GlobalReadPermission" type="xs:boolean" minOccurs="0"/>
      <xs:element name="SubscriptionMode" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:normalizedString">
            <xs:enumeration value="All" />
            <xs:enumeration value="None" />
            <xs:enumeration value="AdHoc" />
            <xs:enumeration value="Custom" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="SiteRelevance" type="xs:normalizedString" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="SitePermissionString">
    <xs:restriction base="xs:normalizedString">
      <xs:enumeration value="Owner" />
      <xs:enumeration value="Reader" />
      <xs:enumeration value="Writer" />
      <xs:enumeration value="None" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="SitePermission">
    <xs:simpleContent>
      <xs:extension base="xs:normalizedString">
        <xs:attribute name="Permission" use="required" type="SitePermissionString">
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="ExternalSitePermission">
    <xs:simpleContent>
      <xs:extension base="xs:normalizedString">
        <xs:attribute name="Permission" use="required">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="Reader" />
              <xs:enumeration value="None" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="Domain">
    <xs:restriction base="xs:string">
      <xs:pattern value="\p{IsBasicLatin}{4}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="Fixlet">
    <xs:sequence>
      <xs:element name="Title" type="ObjectName" />
      <xs:element name="Description" type="xs:string" />
      <xs:choice>
        <xs:element name="Relevance" type="RelevanceString" maxOccurs="unbounded" />
        <xs:element name="GroupRelevance">
          <xs:complexType>
            <xs:group maxOccurs="unbounded" ref="ComputerGroup" />
            <xs:attribute name="JoinByIntersection" type="xs:boolean" />
          </xs:complexType>
        </xs:element>
      </xs:choice>
      <xs:element name="Category" type="xs:normalizedString" minOccurs="0" />
      <xs:element name="WizardData" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Name" type="xs:string" minOccurs="0" />
            <xs:element name="DataStore" type="xs:string" minOccurs="0" />
            <xs:element name="StartURL" type="xs:string" minOccurs="0" />
            <xs:element name="SkipUI" type="xs:string" minOccurs="0" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="DownloadSize" type="xs:nonNegativeInteger" minOccurs="0" />
      <xs:element name="Source" type="xs:normalizedString" minOccurs="0" />
      <xs:element name="SourceID" type="xs:normalizedString" minOccurs="0" />
      <xs:element name="SourceReleaseDate" type="NonNegativeDate" minOccurs="0" />
      <xs:element name="SourceSeverity" type="xs:normalizedString" minOccurs="0" />
      <xs:element name="CVENames" type="xs:normalizedString" minOccurs="0" />
      <xs:element name="SANSID" type="xs:normalizedString" minOccurs="0" />
      <xs:element name="MIMEField" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Name" type="xs:normalizedString" />
            <xs:element name="Value" type="xs:normalizedString" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Domain" minOccurs="0" type="Domain" />
      <xs:element name="Delay" type="NonNegativeTimeInterval" minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="SkipUI" type="xs:boolean"/>
  </xs:complexType>

  <xs:complexType name="FixletWithActions">
    <xs:complexContent>
      <xs:extension base="Fixlet">
        <xs:sequence>
          <xs:element name="DefaultAction" type="FixletAction" minOccurs="0" />
          <xs:element name="Action" type="FixletAction" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="FixletAction">
    <xs:sequence>
      <xs:element name="Description" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="PreLink" type="xs:string" />
            <xs:element name="Link" type="xs:string" />
            <xs:element name="PostLink" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ActionScript" type="ActionScript" />
      <xs:element name="SuccessCriteria" minOccurs="0" type="ActionSuccessCriteria" />
      <xs:element name="SuccessCriteriaLocked" type="xs:boolean" minOccurs="0" />
      <xs:element name="Settings" type="ActionSettings" minOccurs="0" />
      <xs:element name="SettingsLocks" type="ActionSettingsLocks" minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="ID" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:normalizedString">
          <xs:minLength value="1" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="Action">
    <xs:sequence>
      <xs:element name="Title" type="ObjectName" />
      <xs:element name="Relevance" type="RelevanceString" />
      <xs:element name="ActionScript" type="ActionScript" />
      <xs:element name="SuccessCriteria" type="ActionSuccessCriteria" minOccurs="0" />
      <xs:element name="SuccessCriteriaLocked" type="xs:boolean" minOccurs="0" />
      <xs:element name="Parameter" type="BESActionParameter" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="SecureParameter" type="BESActionParameter" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ActionScript">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="MIMEType" type="xs:normalizedString" default="application/x-Fixlet-Windows-Shell" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="ActionSuccessCriteria">
    <xs:simpleContent>
      <xs:extension base="RelevanceString">
        <xs:attribute name="Option">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="RunToCompletion" />
              <xs:enumeration value="OriginalRelevance" />
              <xs:enumeration value="CustomRelevance" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="Property">
    <xs:simpleContent>
      <xs:extension base="RelevanceString">
        <xs:attribute name="Name" type="ObjectName" use="required" />
        <xs:attribute name="EvaluationPeriod" type="NonNegativeTimeInterval" use="optional" />
        <xs:attribute name="KeepStatistics" type="xs:boolean" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="RelevanceString">
    <xs:simpleContent>
      <xs:extension base="xs:string" />
    </xs:simpleContent>
  </xs:complexType>

  <xs:group name="ComputerGroup">
    <xs:choice>
      <xs:element name="SearchComponentRelevance">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Relevance" type="RelevanceString" />
          </xs:sequence>
          <xs:attribute name="Comparison">
            <xs:simpleType>
              <xs:restriction base="xs:normalizedString">
                <xs:enumeration value="IsTrue" />
                <xs:enumeration value="IsFalse" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="SearchComponentPropertyReference">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="SearchText" type="xs:normalizedString" />
            <xs:element name="Relevance" type="RelevanceString" />
          </xs:sequence>
          <xs:attribute name="PropertyName" type="xs:normalizedString" />
          <xs:attribute name="Comparison">
            <xs:simpleType>
              <xs:restriction base="xs:normalizedString">
                <xs:enumeration value="Contains" />
                <xs:enumeration value="DoesNotContain" />
                <xs:enumeration value="Equals" />
                <xs:enumeration value="DoesNotEqual" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="SearchComponentGroupReference">
        <xs:complexType>
          <xs:attribute name="GroupName" type="xs:normalizedString" />
          <xs:attribute name="Comparison">
            <xs:simpleType>
              <xs:restriction base="xs:normalizedString">
                <xs:enumeration value="IsMember" />
                <xs:enumeration value="IsNotMember" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:group>

  <xs:simpleType name="ObjectName">
    <xs:restriction base="xs:normalizedString">
      <xs:minLength value="1" />
      <xs:maxLength value="255" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="BESActionTarget">
    <xs:choice>
      <xs:element name="ComputerName" type="xs:normalizedString" maxOccurs="unbounded" />
      <xs:element name="ComputerID" type="xs:nonNegativeInteger" maxOccurs="unbounded" />
      <xs:element name="CustomRelevance" type="xs:normalizedString" maxOccurs="1"/>
      <xs:element name="AllComputers" type="xs:boolean" maxOccurs="1" />
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="BESSourceSiteAndFixlet">
    <xs:sequence>
      <xs:element name="Sitename" type="ObjectName" />
      <xs:element name="FixletID" type="xs:nonNegativeInteger" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="BESActionSourceFixlet">
    <xs:sequence>
      <xs:choice minOccurs="0">
        <xs:element name="Sitename" type="xs:normalizedString" />
        <xs:element name="SiteID" type="xs:nonNegativeInteger" />
      </xs:choice>
      <xs:element name="FixletID" type="xs:nonNegativeInteger" minOccurs="1" maxOccurs="1"/>
      <xs:element name="Action" type="xs:normalizedString" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="BESActionParameter">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="Name" type="xs:string" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

</xs:schema>